@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,400&display=swap');

* {
    border: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #ccc;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover!important;
    background: linear-gradient(rgba(0, 0, 0, 0.86), rgba(0, 0, 0, 0.86)),url("../img/registration-01.jpg");
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remind-password {
    display: flex;
    flex-direction: column;
    width:25rem;
}

.remind-password > p {
    text-align: justify;
}

.remind-password > label {
    margin-top: 1rem;
}

.remind-password > input {
    background: none;
    padding: 0.7rem;
    border-bottom: 0.1rem solid #888;
    outline: none;
}

.remind-password > button {
    width: 10rem;
    margin: 1rem auto;
    height: 3rem;
    font-size: 1rem;
    background-color: rgb(7, 7, 7);
    border-radius: 0.1rem;
    border: solid 0.1rem #333;
}

.remind-password > button:hover {
    cursor: pointer;
    background-color: #aaa;
    color: #111;
    transition: 0.7s;
}

.remind-password > a {
    text-decoration: none;
}

.remind-password > a:hover {
    color: #bbb;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}